<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="teal lighten-1" dark flat>
                <v-toolbar-title>请登录</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-row dense>
                    <v-col>
                      <v-text-field
                        label="用户名"
                        name="adacc"
                        prepend-icon="mdi-account "
                        type="text"
                        v-model="adacc"
                      />
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col>
                      <v-text-field
                        id="adpas"
                        label="密码"
                        name="adpas"
                        prepend-icon="mdi-lock"
                        :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPass = !showPass"
                        @keydown.enter="login()"
                        :type="showPass ? 'text' : 'password'"
                        v-model="adpas"
                      />
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="cyan lighten-2" class="mx-auto" @click="login()">登录</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      showPass: false,
      adacc: '',
      adpas: ''
    }
  },
  methods: {
    login: async function () {
      const res = await this.$http.post(
        'user/admin/login',
        {
          adacc: this.adacc,
          adpas: this.adpas
        }
      )
      if (res.statusCode === 200) {
        window.sessionStorage.setItem('delightToken', 'de_begin_str' + res.result.token)
        window.sessionStorage.setItem('adminName', this.adacc)
        this.$router.push('/admin/allResManage')
      } else {
        console.log(res)
      }
    }
  }
}
</script>
