<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12" v-if="logStyle=='up'">
              <v-toolbar color="teal lighten-1" dark flat>
                <v-toolbar-title>请登录</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-row dense>
                    <v-col>
                      <v-text-field
                        label="用户名"
                        name="username"
                        prepend-icon="mdi-account "
                        type="text"
                        v-model="username"
                      />
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col>
                      <v-text-field
                        id="password"
                        label="密码"
                        name="password"
                        prepend-icon="mdi-lock"
                        :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPass = !showPass"
                        @keydown.enter="loginByUp()"
                        :type="showPass ? 'text' : 'password'"
                        v-model="password"
                      />
                    </v-col>
                  </v-row>
                </v-form>
                <v-row class="justify-space-around">
                  <v-btn text color="primary" @click="changeLogin('tel')">使用手机号码登录</v-btn>
                  <v-btn text color="primary" @click="goToRegister()">没有账号？去注册。</v-btn>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn color="cyan lighten-2" class="mx-auto" @click="loginByUp()">登录</v-btn>
              </v-card-actions>
            </v-card>
            <v-card class="elevation-12" v-if="logStyle=='tel'">
              <v-toolbar color="teal lighten-1" dark flat>
                <v-toolbar-title>请登录</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-row dense>
                    <v-col>
                      <v-text-field
                        label="手机号"
                        name="login"
                        prepend-icon="mdi-phone"
                        type="text"
                        v-model="tel"
                        :counter="11"
                         />
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="9">
                      <v-text-field
                        id="password"
                        label="验证码"
                        name="password"
                        prepend-icon="mdi-security"
                        type="text"
                        v-model="checkCode"
                        @keydown.enter="loginByTel()"
                      />
                    </v-col>
                    <v-col cols="3" class="d-flex align-center">
                      <v-btn text color="primary" @click="sendMsg()" v-if="showMsgBtnFlag">发送验证码</v-btn>
                      <countDown :endTime="endTime" v-if="!showMsgBtnFlag" @timeEnd="showMsgBtn()"/>
                    </v-col>
                  </v-row>
                </v-form>
                <v-row class="justify-space-around">
                  <v-btn text color="primary" @click="changeLogin('up')">使用账号密码登录</v-btn>
                  <v-btn text color="primary" @click="goToRegister()">没有注册？去注册。</v-btn>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn color="cyan lighten-2" class="mx-auto" @click="loginByTel()">登录</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import countDown from '../../components/countDown'
export default {
  props: ['logStyle'],
  data () {
    return {
      showPass: false,
      username: '',
      password: '',
      tel: '',
      checkCode: '',
      showMsgBtnFlag: true,
      endTime: 0,
      nextUrl: '/'
    }
  },
  components: {
    countDown
  },
  methods: {
    changeLogin (logStyle) {
      this.$router.push('/login/' + logStyle)
    },
    goToRegister () {
      this.$router.push('/register/' + this.logStyle)
    },
    loginByUp: async function () {
      // 真实登录逻辑
      const res = await this.$http.post(
        'user/account/login',
        {
          username: this.username,
          password: this.password
        }
      )
      // 模拟登陆，伪造res和this.username
      // const res = {
      //   statusCode: 200,
      //   result: {
      //     token: 'tempToken',
      //     uid: 1
      //   }
      // }
      // this.username = 'tempUser'
      if (res.statusCode === 200) {
        window.sessionStorage.setItem('delightToken', 'de_begin_str' + res.result.token)
        window.sessionStorage.setItem('uid', res.result.uid)
        window.sessionStorage.setItem('username', this.username)
        // console.log(window.sessionStorage.getItem('delightToken'))
        this.$router.push(this.nextUrl)
      } else {
        console.log(res)
      }
    },
    sendMsg: async function () {
      let infoIntegrity = true
      const tel = this.tel
      if (tel === '' || tel === null) { infoIntegrity = false }
      if (infoIntegrity) {
        const res = await this.$http.post(
          'user/telephone/sendMsg/login',
          {
            tel: this.tel
          }
        )
        if (res.statusCode === 200) {
          console.log('验证码发送成功')
        } else {
          console.log(res)
        }
      }
      this.showMsgBtnFlag = false
      this.endTime = new Date().getTime() + 60000
    },
    showMsgBtn () {
      this.showMsgBtnFlag = true
    },
    loginByTel: async function () {
      const res = await this.$http.post(
        'user/telephone/login',
        {
          tel: this.tel,
          checkCode: this.checkCode
        }
      )
      if (res.statusCode === 200) {
        window.sessionStorage.setItem('delightToken', 'de_begin_str' + res.result.token)
        window.sessionStorage.setItem('uid', res.result.uid)
        window.sessionStorage.setItem('tel', this.tel)
        this.$router.push(this.nextUrl)
      } else {
        console.log(res)
      }
    }
  },
  // 组件内路由守卫，beforeRouteEnter在导航进入该组件的对应路由时调用，
  // 这时候组件还没有被创建，不能直接使用this访问data里的属性，
  // 但是可以利用在next函数里面写回调函数，这里自定义了一个变
  // 量vmodel接收vue实例，其他的守卫使用方法参见router官方文档
  beforeRouteEnter (to, from, next) {
    if (from.path.includes('index')) {
      next(vmodel => {
        vmodel.nextUrl = from.path
      })
    } else {
      next()
    }
    console.log('login组件内前置路由守卫执行了,from的路径为' + from.path)
  }
}
</script>
