<template>
  <v-app>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12" v-if="regStyle=='up'">
              <v-toolbar color="teal lighten-1" dark flat>
                <v-toolbar-title>请注册</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    label="用户名"
                    name="register_name"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="username"
                    :counter="16"
                    :rules="nameRules"
                    required
                  />
                  <v-text-field
                    label="昵称"
                    name="nicknameAcc"
                    prepend-icon="mdi-face"
                    type="text"
                    v-model="nicknameAcc"
                    :counter="16"
                    :rules="nickRules"
                    required
                  />
                  <v-text-field
                    id="password"
                    label="密码"
                    name="password"
                    prepend-icon="mdi-lock"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPass = !showPass"
                    :type="showPass ? 'text' : 'password'"
                    :counter="16"
                    v-model="password"
                    :rules="passRules"
                    required
                  />
                  <v-text-field
                    id="passwordRepeat"
                    label="重复密码"
                    name="passwordRepeat"
                    prepend-icon="mdi-lock"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPass = !showPass"
                    @keydown.enter="registerByUp()"
                    :type="showPass ? 'text' : 'password'"
                    :counter="16"
                    v-model="passwordRepeat"
                    :rules="passRepeatRules"
                    required
                  />
                  <v-row dense>
                    <v-btn text color="primary" @click="changeRegister('tel')">点这里，使用手机号注册</v-btn>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="cyan lighten-2" class="mx-auto" @click="registerByUp()">注册</v-btn>
              </v-card-actions>
            </v-card>
            <v-card class="elevation-12" v-if="regStyle=='tel'">
              <v-toolbar color="teal lighten-1" dark flat>
                <v-toolbar-title>请注册</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    label="手机号"
                    name="tel"
                    prepend-icon="mdi-phone"
                    type="text"
                    v-model="tel"
                    :counter="11"
                    :rules="telRules"
                    required
                  />
                  <v-text-field
                    label="昵称"
                    name="nicknameTel"
                    prepend-icon="mdi-face"
                    type="text"
                    v-model="nicknameTel"
                    :counter="16"
                    :rules="nickRules"
                    required
                  />
                  <v-row dense>
                    <v-col cols="9">
                      <v-text-field
                        id="password"
                        label="验证码"
                        name="checkcode"
                        v-model="checkcode"
                        prepend-icon="mdi-security"
                        type="text"
                        @keydown.enter="registerByTel()"
                      />
                    </v-col>
                    <v-col cols="3" class="d-flex align-center">
                      <v-btn text color="primary" @click="sendMsg()" v-if="showMsgBtnFlag">发送验证码</v-btn>
                      <countDown :endTime="endTime" v-if="!showMsgBtnFlag"  @timeEnd="showMsgBtn()"/>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-btn text color="primary" @click="changeRegister('up')">点这里，用户名密码方式注册</v-btn>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="cyan lighten-2" class="mx-auto" @click="registerByTel()">注册</v-btn>
              </v-card-actions>
            </v-card>
            <v-dialog v-model="loginTipDialog" max-width="290">
              <v-card>
                <v-card-title class="title">提示</v-card-title>
                <v-card-text>注册成功，请前往登录</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" text @click="goToLogin()">跳转登录</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import countDown from '../../components/countDown'
export default {
  props: ['regStyle'],
  data: () => ({
    valid: true,
    showPass: false,
    username: '',
    nameRules: [
      v => !!v || '用户名不能为空',
      v => (v && v.length <= 16) || '用户名必须小于16个字符'
    ],
    password: '',
    nicknameAcc: '',
    nicknameTel: '',
    nickRules: [
      v => !!v || '昵称不能为空',
      v => (v && v.length <= 16) || '昵称必须小于16个字符'
    ],
    passwordRepeat: '',
    passRules: [
      v => !!v || '密码不能为空',
      v => (v && v.length >= 8 && v.length <= 16) || '密码必须在8到16个字符之间',
      v => /[A-Z]/.test(v) || '密码中必须包含大写字母',
      v => /[a-z]/.test(v) || '密码中必须包含小写字母',
      v => /[0-9]/.test(v) || '密码中必须包含数字',
      v => /[$@$!%*?&]/.test(v) || '密码中必须包含特殊字符'
    ],
    tel: '',
    telRules: [
      v => !!v || '电话号码不能为空',
      v => (v && v.length === 11 && /\d/.test(v)) || '电话号码为11位数字'
    ],
    checkcode: '',
    loginTipDialog: false,
    showMsgBtnFlag: true,
    endTime: 0
  }),
  computed: {
    // 利用计算属性来获取data里的数据完成重复密码验证
    passRepeatRules () {
      return [
        v => !!v || '重新输入的密码不能为空',
        v => this.password === this.passwordRepeat || '两次输入的密码不同'
      ]
    }
  },
  components: {
    countDown
  },
  methods: {
    changeRegister (regStyle) {
      this.$router.push('/register/' + regStyle)
    },
    goToLogin () {
      this.loginTipDialog = false
      this.$router.push('/login/' + this.regStyle)
      console.log('跳转的路径：/login' + this.regStyle)
    },
    sendMsg () {
      let infoIntegrity = true
      const tel = this.tel
      if (tel === '' || tel === null) { infoIntegrity = false }
      if (infoIntegrity) {
        const res = this.$http.post(
          'user/telephone/sendMsg/register',
          {
            tel
          }
        )
        if (res.statusCode === 200) {
          console.log('验证码发送成功')
        } else {
          console.log(res)
        }
        this.showMsgBtnFlag = false
        this.endTime = new Date().getTime() + 60000
      } else {
        console.log('表单信息不完整')
      }
    },
    showMsgBtn () {
      this.showMsgBtnFlag = true
    },
    registerByUp: async function () {
      let infoIntegrity = true
      const username = this.username
      const password = this.password
      const nickname = this.nicknameAcc
      if (username === '' || username === null) { infoIntegrity = false }
      if (password === '' || password === null) { infoIntegrity = false }
      if (nickname === '' || nickname === null) { infoIntegrity = false }
      if (infoIntegrity) {
        const res = await this.$http.post(
          'user/account/register',
          {
            username,
            password,
            nickname: this.nicknameAcc
          }
        )
        if (res.statusCode === 200) {
          this.loginTipDialog = true
        } else {
          console.log(res)
        }
      } else {
        console.log('表单信息不完整')
      }
    },
    registerByTel: async function () {
      let infoIntegrity = true
      const tel = this.tel
      const checkcode = this.checkcode
      const nickname = this.nicknameTel
      if (tel === '' || tel === null) { infoIntegrity = false }
      if (checkcode === '' || checkcode === null) { infoIntegrity = false }
      if (nickname === '' || nickname === null) { infoIntegrity = false }
      if (infoIntegrity) {
        const res = await this.$http.post(
          'user/telephone/register',
          {
            tel,
            checkcode,
            nickname: this.nicknameTel
          }
        )
        if (res.statusCode === 200) {
          this.loginTipDialog = true
        } else {
          console.log(res)
        }
      } else {
        console.log('表单信息不完整')
      }
    }
  }
}
</script>
