<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
        <v-list-item-group v-model="nowItem">
          <v-list-item disabled>
            <v-list-item-action>
              <v-icon>mdi-sitemap</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="body-1">分类</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="showAll()">
            <v-list-item-action>
              <v-icon>mdi-format-list-bulleted-square</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="body-1">全部</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="item in items"
            :key="item.id"
            @click="showByClassify(item.id)"
          >
            <v-list-item-action>
              <v-icon>mdi-radiobox-marked</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="teal lighten-1"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title class="ml-0 pl-4">
        <v-img
          src="../../images/logo.jpg"
          max-height="56"
          max-width="56"
        ></v-img>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down"
        v-model="searchKey"
        @keydown.enter="showBySearch()"
      />
      <v-btn color="teal lighten-2" class="ml-2" @click="showBySearch()">搜索</v-btn>
      <v-spacer />
      <div v-if="!loginStatus">
        <v-btn text @click="goToLogin">登录</v-btn>/
        <v-btn text @click="goToRegister">注册</v-btn>
      </div>
      <div v-else>
        <v-btn text @click="goToUserCenter()">欢迎你! {{barUsername}}</v-btn>/
        <v-btn text @click="exit()">注销</v-btn>
      </div>
    </v-app-bar>
    <v-content>
        <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: null,
      // vuetify的list-item
      nowItem: 1,
      items: [
        { id: 1, name: '海报' },
        { id: 2, name: '风景' },
        { id: 3, name: '人像' },
        { id: 4, name: 'UI' }
      ],
      searchKey: '',
      loginStatus: false,
      barUsername: '',
      tel: ''
    }
  },
  methods: {
    initData: async function () {
      // 下面需要写好逻辑向后端发请求获取所有的分类数据赋值给items
    },
    goToLogin () {
      this.$router.push('/login/up')
    },
    goToRegister () {
      this.$router.push('/register/up')
    },
    goToUserCenter () {
      // 跳转用户中心
      this.$router.push('/userCenter/resManage')
    },
    showAll () {
      this.$router.push('/index/showAll')
    },
    showByClassify (classify) {
      this.$router.push('/index/showResource/classify/' + classify)
    },
    showBySearch () {
      this.$router.push('/index/showResource/search/' + this.searchKey)
      console.log(this.searchKey)
    },
    exit () {
      window.sessionStorage.removeItem('delightToken')
      window.sessionStorage.removeItem('username')
      window.sessionStorage.removeItem('tel')
      console.log('注销了')
      window.location.reload()
    }
  },
  mounted () {
    const username = window.sessionStorage.getItem('username')
    const tel = window.sessionStorage.getItem('tel')
    if (username !== null && username !== '') {
      this.barUsername = username
      this.loginStatus = true
    } else if (tel !== null && tel !== '') {
      this.barUsername = tel
      this.loginStatus = true
    }
    this.initData()
  }
}
</script>
