<template>
<showBase :resources="resources"/>
</template>

<script>
import showBase from './showBase'
export default {
  props: ['showStyle', 'showKey'],
  components: {
    showBase
  },
  data () {
    return {
      resources: []
    }
  },
  // 经过测试发现watch也可以监听到从父组件传递过来的属性，
  // 比如这里的showStyle和showKey,但是要注意一点，
  // watch监听的属性名称最好避开关键字，这里我之前
  // 监听的属性名称是style和key后来发现报错了，才换成了现在的
  // showStyle和showKey。
  watch: {
    showStyle (val) {
      // 发送请求,不知道为什么在同一组件之间执行this.$router.push不会触发
      // 该组件的mounted函数，只能使用监听器来实现。
      console.log('showStyle的最新值' + val)
    },
    showKey (val) {
      // 发送请求,不知道为什么在同一组件之间执行this.$router.push不会触发
      // 该组件的mounted函数，只能使用监听器来实现。
      console.log('showKey的最新值' + val)
      const showStyle = this.showStyle
      const showKey = this.showKey
      this.initData(showStyle, showKey)
    }
  },
  methods: {
    initData: async function (showStyle, showKey) {
      const responseData = await this.$http.get('res/resource/' + showStyle + '/' + showKey + '/down/d/1/100')
      if (responseData.statusCode === 200) {
        this.resources = responseData.result.data
      }
    }
  },
  mounted () {
    const showStyle = this.showStyle
    const showKey = this.showKey
    console.log('mounted函数调用initData后showStyle的值' + showStyle + ',showKey的值：' + showKey)
    // 下面是利用这两个数据向后端发请求的代码
    this.initData(showStyle, showKey)
  }
}
</script>
