<template>
    <showBase :resources="resources"/>
</template>

<script>
import showBase from './showBase'
export default {
  components: {
    showBase
  },
  data () {
    return {
      resources: []
    }
  },
  methods: {
    initData: async function () {
      // 下面需要写好逻辑向后端发请求获取所有的资源数据赋值给resources
      const initAllData = await this.$http.get('res/resource/all/time/d/1/100')
      if (initAllData.statusCode === 200) {
        this.resources = initAllData.result.data
        console.log('数据查询成功')
      } else {
        console.log(initAllData.result)
      }
    }
  },
  mounted () {
    // 下面是向后端发送请求调数据赋值给resources
    console.log('showAll executed')
    this.initData()
  }

}
</script>
