<template>
  <v-card class="mx-auto">
    <v-container fluid >
      <v-row>
        <v-col v-for="resource in resources" :key="resource.title" cols="3">
            <v-card color="grey lighten-4">
              <v-card-title v-text="resource.name" class="pl-6"></v-card-title>
              <v-card-text>
                <v-row dense>
                  <v-col>
                    <v-img :src="resource.src" height="150px"></v-img>
                  </v-col>
                </v-row>
                <v-row dense>
                   <v-col cols="1" class="pt-2">
                    <v-icon>mdi-account</v-icon>
                  </v-col>
                  <v-col cols="7" class="pl-2">
                    <v-chip>{{resource.author}}</v-chip>
                  </v-col>
                  <v-col cols="1" class="pt-2">
                    <v-icon >mdi-download</v-icon>
                  </v-col>
                  <v-col cols="3">
                    <v-chip>{{resource.downloaded}}</v-chip>
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col class="pt-2" cols="1">
                    <v-icon >mdi-clock</v-icon>
                  </v-col>
                  <v-col cols="8" class="ml-1">
                    <v-chip>{{resource.uptime}}</v-chip>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions class="justify-space-around pt-0 pb-4">
                <v-btn  color="teal lighten-4" @click="downPic(resource.src,resource.name,resource.resId)">下载图片</v-btn>
                <v-btn  color="teal lighten-4" @click="downPsd(resource.name,resource.resId)">下载PSD</v-btn>
              </v-card-actions>
            </v-card>
        </v-col>
        <v-col>
          <v-dialog v-model="loginTipDialog" max-width="290">
            <v-card>
              <v-card-title class="title">提示</v-card-title>
              <v-card-text>登录后即可下载，请前往登录</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="goToLogin()" class="font-weight-medium subtitle-1">跳转登录</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script>
import { downloadFile } from '../../externalJs/myDownloadFile'
export default {
  props: [
    'resources'
  ],
  data () {
    return {
      loginTipDialog: false
    }
  },
  methods: {
    downPic: async function (url, fileName, resId) {
      const token = window.sessionStorage.getItem('delightToken')
      if (token !== null && token !== '') {
        const res = await this.$http.get('res/resource/down/pic/' + resId)
        if (res.statusCode === 200) {
          downloadFile(url, fileName + '.jpg')
        } else {
          console.log(res.message)
        }
      } else {
        // 提示游客登录
        this.loginTipDialog = true
      }
    },
    downPsd: async function (fileName, resId) {
      const token = window.sessionStorage.getItem('delightToken')
      if (token !== null && token !== '') {
        // 向后端发起请求根据rid获取PSD文件路径
        const res = await this.$http.get('res/resource/down/psd/' + resId)
        if (res.statusCode === 200) {
          const psdPath = res.result
          downloadFile(psdPath, fileName + '.psd')
          // window.open(psdPath, '_self')
        } else {
          console.log(res.message)
        }
      } else {
        // 提示游客登录
        this.loginTipDialog = true
      }
    },
    goToLogin () {
      this.$router.push('/login/up')
    }
  }
}
</script>
