<template>
  <v-content>
      <v-container>
          <v-row dense v-if="loginStatus==='up'">
              <v-col cols="4" offset="3">
                  <v-text-field
                    name="userName"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="username"
                    disabled
                  />
              </v-col>
          </v-row>
          <v-row dense v-if="loginStatus==='up'">
              <v-col cols="4" offset="3">
                  <v-text-field
                    id="password"
                    label="密码"
                    name="password"
                    v-model="password"
                    :type="showPass ? 'text' : 'password'"
                    prepend-icon="mdi-lock"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPass = !showPass"
                  />
              </v-col>
          </v-row>
          <v-row v-if="loginStatus==='tel'">
              <v-col cols="4" offset="3">
                  <v-text-field
                    id="tel"
                    label="手机号"
                    name="tel"
                    v-model="tel"
                    prepend-icon="mdi-phone"
                    type="text"
                  />
              </v-col>
          </v-row>
          <v-row>
              <v-col cols="4" offset="3">
                  <v-text-field
                    id="nickName"
                    label="昵称"
                    name="nickName"
                    v-model="nickName"
                    prepend-icon="mdi-face"
                    type="text"
                  />
              </v-col>
          </v-row>
          <v-row>
              <v-col cols="4" offset="3">
                  <v-radio-group v-model="gender" row label="性别">
                      <v-radio label="男" value='0'></v-radio>
                      <v-radio label="女" value='1'></v-radio>
                  </v-radio-group>
              </v-col>
          </v-row>
          <v-row>
              <v-col cols="4" offset="3">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    min-width="210px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="birth"
                          label="Birthday date"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="birth"
                        :max="new Date().toISOString().substr(0, 10)"
                        min="1950-01-01"
                        @change="save"
                        locale="zh-ch"
                        no-title
                      >
                      </v-date-picker>
                 </v-menu>
              </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="2" offset="4">
              <v-btn @click="modifyUserInfo()">确定修改</v-btn>
              <v-snackbar v-model="modifiedTip" :timeout= "tipTimeout" >
                已修改
                <v-btn color="blue" text  @click="modifiedTip = false" >好的</v-btn>
              </v-snackbar>
            </v-col>
          </v-row>
      </v-container>
    </v-content>
</template>

<script>
export default {
  data () {
    return {
      modifiedTip: false,
      tipTimeout: 2000,
      showPass: true,
      uid: 0,
      username: '',
      password: '',
      tel: '',
      nickName: '',
      gender: '0',
      birth: null,
      menu: false
    }
  },
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  computed: {
    loginStatus () {
      if (this.username !== null && this.username !== '') {
        return 'up'
      } else {
        return 'tel'
      }
    }
  },
  methods: {
    save (birth) {
      this.$refs.menu.save(birth)
    },
    initData: async function () {
      const res = await this.$http.get('user/userInfo/me/' + this.uid)
      if (res.statusCode === 200) {
        this.nickName = res.result.nickname
        this.gender = res.result.gender.toString()
        this.birth = res.result.birth
      } else {
        console.log('初始化数据失败')
      }
    },
    modifyUserInfo: async function () {
      if (this.loginStatus === 'up') {
        const res = await this.$http.put(
          'user/userInfo/acc',
          {
            uid: this.uid,
            password: this.password,
            nickname: this.nickName,
            birth: this.birth,
            gender: parseInt(this.gender)
          }
        )
        if (res.statusCode === 200) {
          this.modifiedTip = true
        } else {
          console.log(res.result)
        }
      } else {
        const res = await this.$http.put(
          'user/userInfo/tel',
          {
            uid: this.uid,
            nickname: this.nickName,
            birth: this.birth,
            gender: parseInt(this.gender)
          }
        )
        if (res.statusCode === 200) {
          this.modifiedTip = true
        } else {
          console.log('修改失败')
        }
      }
    }
  },
  mounted () {
    this.username = window.sessionStorage.getItem('username')
    this.tel = window.sessionStorage.getItem('tel')
    this.uid = window.sessionStorage.getItem('uid')
    this.initData()
  }
}
</script>
