<template>
  <v-content>
    <v-container>
      <v-row justify="center">
       <v-col cols="2">
         <v-btn color="primary" @click="showUploadTip()">上传资源</v-btn>
       </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-simple-table fixed-header>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left title" v-for="hea in tableHeader" :key="hea">{{hea}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="res in alldata" :key="res.name">
                  <td>{{ res.name }}</td>
                  <td>{{ res.classify }}</td>
                  <td>{{ res.uptime }}</td>
                  <td>{{ res.downloaded }}</td>
                  <td>
                    <v-btn icon color="deep-orange" @click="confirmDel(res.resId)">
                      <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-dialog v-model="uploadDialog" max-width="400">
            <v-card class="elevation-12">
              <v-toolbar color="teal lighten-1" dark flat>
                <v-toolbar-title>请上传文件</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-row dense>
                    <v-col cols="12">
                      <v-text-field v-model="uploadResName" label="请输入资源名称"></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="12">
                      <v-select
                        v-model="selectedClass"
                        :items="selectClasess"
                        item-text="text"
                        item-value="value"
                        label="请选择分类"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="12">
                      <v-file-input v-model="picfile" label="请上传图片文件"></v-file-input>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="12">
                      <v-file-input v-model="psdfile" label="请上传PSD文件"></v-file-input>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="cyan lighten-2" class="mx-auto" @click="upload()">上传</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-dialog v-model="delTip" max-width="290">
            <v-card>
              <v-card-title class="title">提示</v-card-title>
              <v-card-text>确定要删除吗？</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" text @click="delRes()" class="font-weight-medium subtitle-1">确定删除</v-btn>
                <v-btn color="green darken-1" text @click="delTip=false" class="font-weight-medium subtitle-1">取消</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
// import axios from 'axios'
export default {
  data () {
    return {
      delTip: false,
      uploadDialog: false,
      tableHeader: [
        '名称',
        '分类',
        '上传时间',
        '下载量',
        '操作'
      ],
      alldata: [],
      uploadResName: '',
      picfile: null,
      psdfile: null,
      selectedClass: 0,
      selectClasess: [
        { text: '海报', value: 1 },
        { text: '风景', value: 2 },
        { text: '人像', value: 3 },
        { text: 'UI', value: 4 }
      ],
      delId: 0
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData: async function () {
      const uid = window.sessionStorage.getItem('uid')
      const res = await this.$http.get(
        'res/resource/personal/' + uid + '/up/de/1/100'
      )
      if (res.statusCode === 200) {
        this.alldata = res.result.data
      }
    },
    showUploadTip () {
      this.uploadDialog = true
    },
    upload: async function () {
      const uid = window.sessionStorage.getItem('uid')
      const cid = this.selectedClass
      const resname = this.uploadResName
      const picfile = this.picfile
      const psdfile = this.psdfile
      const param = new FormData()
      param.append('uid', uid)
      param.append('cid', cid)
      param.append('resname', resname)
      param.append('picfile', picfile)
      param.append('psdfile', psdfile)
      const config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      }
      if (uid !== null && cid > 0 && resname !== '' && picfile !== null && psdfile !== null) {
        const res = await this.$http.post(
          'res/resource/',
          param,
          config
        )
        if (res.statusCode === 200) {
          this.initData()
          this.uploadDialog = false
        } else {
          console.log('上传失败')
        }
      } else {
        console.log('参数不完整')
      }
    },
    confirmDel (resId) {
      this.delId = resId
      this.delTip = true
    },
    delRes: async function () {
      // 向后端发起请求
      const res = await this.$http.delete(
        'res/resource/' + this.delId
      )
      if (res.statusCode === 200) {
        this.initData()
        this.delTip = false
      } else {
        console.log('删除失败')
      }
    }
  }
}
</script>
