<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
          <v-list-item-group>
              <v-list-item @click="goRes()">
                <v-list-item-action>
                  <v-icon>mdi-file-image</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="subtitle-1 font-weight-bold">资源管理</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goInfo()">
                <v-list-item-action>
                  <v-icon>mdi-account</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="subtitle-1 font-weight-bold">信息管理</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

          </v-list-item-group>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      color="teal lighten-1"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>用户中心</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="goHome()">
          <v-icon>mdi-home</v-icon>
      </v-btn>
    </v-app-bar>
        <router-view></router-view>
    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null
  }),
  methods: {
    goInfo () {
      this.$router.push('/userCenter/infoManage')
    },
    goRes () {
      this.$router.push('/userCenter/resManage')
    },
    goHome () {
      this.$router.push('/')
    }
  }
}
</script>
