
<template>
  <p>重发剩余：{{time}}</p>
</template>

<script>
export default {
  data () {
    return {
      time: '',
      flag: false
    }
  },
  mounted () {
    const time = setInterval(() => {
      if (this.flag) {
        clearInterval(time)
      }
      this.timeDown()
    }, 500)
  },
  props: ['endTime'],
  methods: {
    timeDown () {
      const endTime = new Date(this.endTime)
      const nowTime = new Date()
      const leftTime = parseInt((endTime.getTime() - nowTime.getTime()) / 1000)
      // const d = parseInt(leftTime / (24 * 60 * 60))
      // const h = this.formate(parseInt(leftTime / (60 * 60) % 24))
      // const m = this.formate(parseInt(leftTime / 60 % 60))
      const s = this.formate(parseInt(leftTime % 60))
      if (leftTime <= 0) {
        this.flag = true
        this.$emit('timeEnd')
      }
      // 需要修改时间样式的话 ，比如需要什么30分钟倒计时，就只保留分和秒
      // this.time = `${d}天${h}小时${m}分${s}秒`
      this.time = `${s}秒`
    },
    formate (time) {
      if (time >= 10) {
        return time
      } else {
        return `0${time}`
      }
    }
  }
}
</script>
