<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
          <v-list-item-group>
              <v-list-item @click="goAllRes()">
                <v-list-item-action>
                  <v-icon>mdi-file-image</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title  class="subtitle-1 font-weight-bold">资源管理</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goUser()">
                <v-list-item-action>
                  <v-icon>mdi-account</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="subtitle-1 font-weight-bold">用户管理</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

          </v-list-item-group>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      color="teal lighten-1"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>后台管理</v-toolbar-title>
      <v-spacer/>
      <div>
        <v-btn text>欢迎你! {{currAdmin}}</v-btn>/
        <v-btn text @click="exit()">注销</v-btn>
      </div>
    </v-app-bar>
        <router-view></router-view>
    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    currAdmin: '暂无'
  }),
  methods: {
    goUser () {
      this.$router.push('/admin/userManage')
    },
    goAllRes () {
      this.$router.push('/admin/allResManage')
    },
    exit () {
      window.sessionStorage.removeItem('adminName')
      this.$router.push('/adminDelight')
    }
  },
  mounted () {
    this.currAdmin = window.sessionStorage.getItem('adminName')
  }
}
</script>
