<template>
  <v-content>
    <v-container>
      <v-row>
        <v-col>
          <v-simple-table fixed-header>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left subtitle-1 teal lighten-4" v-for="hea in accHea" :key="hea">{{hea}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="res in alldata" :key="res.name">
                  <td>{{ res.name }}</td>
                  <td>{{ res.classify }}</td>
                  <td>{{ res.author }}</td>
                  <td>{{ res.uptime }}</td>
                  <td>{{ res.downloaded }}</td>
                  <td>
                    <v-btn icon color="deep-orange"  @click="confirmDel(res.resId)">
                      <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-dialog v-model="delTip" max-width="290">
            <v-card>
              <v-card-title class="title">提示</v-card-title>
              <v-card-text>确定要删除吗？</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" text @click="delRes()" class="font-weight-medium subtitle-1">确定删除</v-btn>
                <v-btn color="green darken-1" text @click="delTip=false" class="font-weight-medium subtitle-1">取消</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data () {
    return {
      accHea: [
        '名称',
        '分类',
        '作者',
        '上传时间',
        '下载量',
        '操作'
      ],
      alldata: [],
      delTip: false
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData: async function () {
      const res = await this.$http.get(
        'res/resource/manage/up/de/1/100'
      )
      if (res.statusCode === 200) {
        this.alldata = res.result.data
      }
    },
    confirmDel (resId) {
      this.delId = resId
      this.delTip = true
    },
    delRes: async function () {
      // 向后端发起请求
      const res = await this.$http.delete(
        'res/resource/' + this.delId
      )
      if (res.statusCode === 200) {
        this.initData()
        this.delTip = false
      } else {
        console.log('删除失败')
      }
    }
  }
}
</script>
