<template>
  <v-content>
    <v-container>
      <v-row justify="center">
       <v-col cols="2">
         <v-btn color="primary" @click="switchShowType()">切换显示用户类型</v-btn>
       </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-simple-table fixed-header v-if="showAccType">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left subtitle-1 teal lighten-4" v-for="(hea, index1) in accInfoHea" :key="index1">{{hea}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user,index2) in allAccData" :key="index2">
                  <td>{{ user.username }}</td>
                  <td>{{ user.nickname }}</td>
                  <td>{{ user.regtime }}</td>
                  <td>{{ user.upload }}</td>
                  <td>{{ user.downloaded }}</td>
                  <td>
                    <v-btn icon color="deep-orange"  @click="confirmDel(user.uid)">
                      <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-simple-table fixed-header v-else>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left subtitle-1 teal lighten-4" v-for="(hea, index3) in telInfoHea" :key="index3">{{hea}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user,index4) in allTelData" :key="index4">
                  <td>{{ user.tel }}</td>
                  <td>{{ user.nickname }}</td>
                  <td>{{ user.regtime }}</td>
                  <td>{{ user.upload }}</td>
                  <td>{{ user.downloaded }}</td>
                  <td>
                    <v-btn icon color="deep-orange"  @click="confirmDel(user.uid)">
                      <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-dialog v-model="delTip" max-width="290">
            <v-card>
              <v-card-title class="title">提示</v-card-title>
              <v-card-text>确定要删除吗？</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" text @click="delUser()" class="font-weight-medium subtitle-1">确定删除</v-btn>
                <v-btn color="green darken-1" text @click="delTip=false" class="font-weight-medium subtitle-1">取消</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data () {
    return {
      showAccType: true,
      accInfoHea: [
        '用户名',
        '昵称',
        '注册时间',
        '上传资源数量',
        '资源被下载总量',
        '操作'
      ],
      telInfoHea: [
        '手机号',
        '昵称',
        '注册时间',
        '上传资源数量',
        '资源被下载总量',
        '操作'
      ],
      allAccData: [],
      allTelData: [],
      delTip: false
    }
  },
  mounted () {
    this.initAccData()
    this.initTelData()
  },
  methods: {
    initAccData: async function () {
      const res = await this.$http.get(
        'user/userInfo/findAllAcc/up/de/1/100'
      )
      if (res.statusCode === 200) {
        this.allAccData = res.result.data
      }
    },
    initTelData: async function () {
      const res = await this.$http.get(
        'user/userInfo/findAllTel/up/de/1/100'
      )
      if (res.statusCode === 200) {
        this.allTelData = res.result.data
      }
    },
    switchShowType () {
      this.showAccType = !this.showAccType
    },
    confirmDel (uid) {
      this.delId = uid
      this.delTip = true
    },
    delUser: async function () {
      // 向后端发起请求
      const res = await this.$http.delete(
        'user/userInfo/' + this.delId
      )
      if (res.statusCode === 200) {
        if (this.showAccType) {
          this.initAccData()
        } else {
          this.initTelData()
        }
        this.delTip = false
      } else {
        console.log('删除失败')
      }
    }
  }
}
</script>
